body {
    background-color: rgb(13, 6, 116);
}

.fundo {    
    text-align: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40vh;
    height: 50vh;
    padding: 4vh;
    border-radius: 10vh;
    background-color: black;
    position: center;

}

.botaoN {
    background-color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 40px;
    border-bottom: black;
    border-top: black;
    margin: 5px;
    color: black;
    margin-bottom: 35px;
    outline: none;
    margin-top: -500px;
    font-size: 0.9rem;
    top: 30%;
    left: 10%;
    position: center;
}

.botaoP {
    background-color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 40px;
    border-bottom: black;
    border-top: black;
    margin: 5px;
    color: black;
    margin-bottom: 35px;
    outline: none;
    margin-top: -500px;
    font-size: 0.9rem;
    top: 60%;
    left: 1000%;
    position: center;
}

.botaoA {
    background-color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 40px;
    border-bottom: black;
    border-top: black;
    margin: 5px;
    color: black;   
    margin-bottom: 35px;
    outline: none;
    margin-top: -500px;
    font-size: 0.9rem;
    top: 60%;
    left: 1000%;
    position: center;
}

.botaoE {
    background-color: white;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 40px;
    border-bottom: black;
    border-top: black;
    margin: 5px;
    color: black;
    margin-bottom: 35px;
    outline: none;
    margin-top: -500px;
    font-size: 0.9rem;
    top: 60%;
    left: 1000%;
    position: center;
}

.botaoR {
    background-color: white;
    text-align: relative;
    width: 80px;
    height: 20px;
    border: 40px;
    border-bottom: black;
    border-top: black;
    margin: 7px;
    color: black;
    margin-bottom: 40px;
    outline: none;
    margin-top: 370px;
    font-size: 0.9rem;
    top: 2px;
    left: -300px;
    position: relative;
}

#Nome {
    position: relative;
    background-color: white;
    width: 73px;
    height: 30px;
    font-size: black; 
    left: 50.1%;
    top: 462px;       
}

#Peso {
    position: relative;
    background-color: white;
    width: 73px;
    height: 30px;
    font-size: black; 
    left: 50.6%;
    top: 462px;   
}

#Altura {
    position: relative;
    background-color: white;
    width: 73px;
    height: 30px;
    font-size: black; 
    left: 51.1%;
    top: 462px;   
}


#Resultado {
    position: relative;
    background-color: white;
    width: 200px;
    height: 30px;
    font-size: black; 
    left: 45.5%;
    top: 700px;       
}

